In [210]:
# import dependencies
%matplotlib notebook
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt

In [226]:
# import source data files

deaths_2013_2014 = pd.read_csv("raw_data/OD_2013_2014.csv", thousands=',')
deaths_2015 = pd.read_csv("raw_data/OD_2015.csv", thousands=',')
deaths_2016 = pd.read_csv("raw_data/OD_2016.csv", thousands=',')
deaths_2017 = pd.read_csv("raw_data/OD_2017.csv", thousands=',')

regions = pd.read_csv("raw_data/regions.csv", thousands=',')

# reduce dataframes to include only state and death statistic
#############THESE ARE THE OVERDOSE BY STATE DATA FRAMES *********************
deaths_2013_df = deaths_2013_2014[['State', '2013Number']]
deaths_2013_df = deaths_2013_df.rename(index=str, columns={"2013Number": "2013Deaths"})
# deaths_2013_df["2013Deaths"] = pd.to_numeric(deaths_2013_df["2013Deaths"])
deaths_2014_df = deaths_2013_2014[['State', '2014Number']]
deaths_2014_df = deaths_2014_df.rename(index=str, columns={"2014Number": "2014Deaths"})
deaths_2015_df = deaths_2015[['State', 'Number']]
deaths_2015_df = deaths_2015_df.rename(index=str, columns={"Number": "2015Deaths"})
deaths_2016_df = deaths_2016[['State', 'number']]
deaths_2016_df = deaths_2016_df.rename(index=str, columns={"number": "2016Deaths"})
deaths_2017_df = deaths_2017[['State', 'number']]
deaths_2017_df = deaths_2017_df.rename(index=str, columns={"number": "2017Deaths"})

deaths_2013_df.head()

  State  2013Deaths
0    ND          20
1    NE         117
2    SD          55
3    IA         275
4    TX        2446

In [212]:
# import perscription data
rx_2013 = pd.read_csv("raw_data/RX_2013.csv")
rx_2014 = pd.read_csv("raw_data/RX_2014.csv")
rx_2015 = pd.read_csv("raw_data/RX_2015.csv")
rx_2016 = pd.read_csv("raw_data/RX_2016.csv")
rx_2017 = pd.read_csv("raw_data/RX_2017.csv")

# reduce dataframes to include only state and death statistic 
rx_2013_df = rx_2013[['State ABBR', '2013 Prescribing Rate']]
rx_2013_df = rx_2013_df.rename(index=str, columns={"State ABBR": "State", "2013 Prescribing Rate": "2013_RX_rate"})
rx_2014_df = rx_2014[['State ABBR', '2014 Prescribing Rate']]
rx_2014_df = rx_2014_df.rename(index=str, columns={"State ABBR": "State", "2014 Prescribing Rate": "2014_RX_rate"})
rx_2015_df = rx_2015[['State ABBR', '2015 Prescribing Rate']]
rx_2015_df = rx_2015_df.rename(index=str, columns={"State ABBR": "State", "2015 Prescribing Rate": "2015_RX_rate"})
rx_2016_df = rx_2016[['State ABBR', '2016 Prescribing Rate']]
rx_2016_df = rx_2016_df.rename(index=str, columns={"State ABBR": "State", "2016 Prescribing Rate": "2016_RX_rate"})
rx_2017_df = rx_2017[['Abbreviation', 'Year 2017']].drop([51], axis=0).reset_index(drop=True)
rx_2017_df = rx_2017_df.rename(index=str, columns={"Abbreviation": "State", "Year 2017": "2017_RX_rate"})

# drop last row in rx_2017 becuase it is a duplicate entry (WY)
# rx_2017_df = rx_2017_df.drop([51], axis=0).reset_index()

#######THESE ARE THE PERSCRIPTION BY STATE DATA FRAMES*******************
# rx_2013_df
# rx_2014_df
# rx_2015_df
# rx_2016_df
# rx_2017_df


rx_2017_df.head()

  State  2017_RX_rate
0    AL         107.2
1    AK          52.0
2    AZ          61.2
3    AR         105.4
4    CA          39.5

In [213]:
# import population data
population2010_2017 = pd.read_csv("raw_data/Pop_2013-2017.csv", thousands=',')
# remove first two rows because they are insignificant to the dataframe
population2010_2017_a = population2010_2017.drop([0,1,2,3,4,56,57,58,59,60,61,62], axis=0).reset_index(drop=True)
# rename column headers
population2010_2017_a = population2010_2017_a.rename(index=str, columns={"Unnamed: 0": "State", "2013": "2013_Pop", "2014": "2014_Pop", "2015": "2015_Pop", "2016": "2016_Pop", "2017": "2017_Pop"})
# create dataframe with new column names
pop_2010_2017_df = pd.DataFrame(population2010_2017_a)
pop_2010_2017_df = pop_2010_2017_df.replace({'.Alabama': 'AL',
                                             '.Alaska': 'AK', 
                                             '.Arizona': 'AZ',
                                             '.Arkansas': 'AR',
                                             '.California': 'CA',
                                             '.Colorado': 'CO',
                                             '.Connecticut': 'CT',
                                             '.Delaware': 'DE',
                                             '.District of Columbia': 'DC',
                                             '.Florida': 'FL',
                                             '.Georgia': 'GA',
                                             '.Hawaii': 'HI',
                                             '.Idaho': 'ID',
                                             '.Illinois': 'IL',
                                             '.Indiana': 'IN',
                                             '.Iowa': 'IA',
                                             '.Kansas': 'KS',
                                             '.Kentucky': 'KY',
                                             '.Louisiana':'LA',
                                             '.Maine': 'ME',
                                             '.Maryland':'MD',
                                             '.Massachusetts':'MA',
                                             '.Michigan':'MI',
                                             '.Minnesota':'MN',
                                             '.Mississippi':'MS',
                                             '.Missouri':'MO',
                                             '.Montana':'MT',
                                             '.Nebraska':'NE',
                                             '.Nevada':'NV',
                                             '.New Hampshire':'NH',
                                             '.New Jersey':'NJ',
                                             '.New Mexico':'NM',
                                             '.New York':'NY',
                                             '.North Carolina':'NC',
                                             '.North Dakota':'ND',
                                             '.Ohio':'OH',
                                             '.Oklahoma':'OK',
                                             '.Oregon':'OR',
                                             '.Pennsylvania':'PA',
                                             '.Rhode Island':'RI',
                                             '.South Carolina':'SC',
                                             '.South Dakota':'SD',
                                             '.Tennessee':'TN',
                                             '.Texas':'TX',
                                             '.Utah':'UT',
                                             '.Vermont':'VT',
                                             '.Virginia':'VA',
                                             '.Washington':'WA',
                                             '.West Virginia':'WV',
                                             '.Wisconsin':'WI',
                                             '.Wyoming':'WY'})
######THIS IS THE POPULATION DATA FRAME******************************
# pop_2010_2017_df

# merge regions
pop_2010_2017_df = pop_2010_2017_df.merge(regions)

pop_2010_2017_df.head()

  State    2013_Pop    2014_Pop    2015_Pop    2016_Pop    2017_Pop     Region
0    AL   4827660.0   4840037.0   4850858.0   4860545.0   4874747.0  Southeast
1    AK    736760.0    736759.0    737979.0    741522.0    739795.0   Far West
2    AZ   6616124.0   6706435.0   6802262.0   6908642.0   7016270.0  Southwest
3    AR   2956780.0   2964800.0   2975626.0   2988231.0   3004279.0  Southeast
4    CA  38347383.0  38701278.0  39032444.0  39296476.0  39536653.0   Far West

In [214]:
# merge population_df, rx_dfs, and deaths_dfs (prd = population rx deaths)
# prd_df = pop_2010_2017_df.merge(rx_2013_df).merge(deaths_2013_df).merge(rx_2014_df).merge(deaths_2014_df).merge(rx_2015_df).merge(deaths_2015_df).merge(rx_2016_df).merge(deaths_2016_df).merge(rx_2017_df).merge(deaths_2017_df)

# merge 2013 tables
prd_13_df = pop_2010_2017_df.merge(rx_2013_df).merge(deaths_2013_df)
# merge 2013-2014 tables
prd_14_df = prd_13_df.merge(rx_2014_df).merge(deaths_2014_df)
# merge 2013-2015 tables
prd_15_df = prd_14_df.merge(rx_2015_df).merge(deaths_2015_df)
# merge 2013-2016 tables
prd_16_df = prd_15_df.merge(rx_2016_df).merge(deaths_2016_df)
# merge 2013-2017 tables
prd_17_df = prd_16_df.merge(rx_2017_df).merge(deaths_2017_df)


prd_17_df.head()

,State,2013_Pop,2014_Pop,2015_Pop,2016_Pop,2017_Pop,Region,2013_RX_rate,2013Deaths,2014_RX_rate,2014Deaths,2015_RX_rate,2015Deaths,2016_RX_rate,2016Deaths,2017_RX_rate,2017Deaths
0,AL,4827660.0,4840037.0,4850858.0,4860545.0,4874747.0,Southeast,142.4,598,135.2,723,125.0,736,121.0,756,107.2,835
1,AK,736760.0,736759.0,737979.0,741522.0,739795.0,Far West,63.7,105,62.7,124,60.8,122,58.9,128,52.0,147
2,AZ,6616124.0,6706435.0,6802262.0,6908642.0,7016270.0,Southwest,80.4,1222,79.7,1211,75.5,1274,70.2,1382,61.2,1532
3,AR,2956780.0,2964800.0,2975626.0,2988231.0,3004279.0,Southeast,120.9,319,123.2,356,117.2,392,114.6,401,105.4,446
4,CA,38347383.0,38701278.0,39032444.0,39296476.0,39536653.0,Far West,54.4,4452,52.7,4521,47.7,4659,44.8,4654,39.5,4868

In [215]:
# change column locations and create the final consolidated dataframe called "master_df"
master_df = pd.DataFrame(prd_17_df[['State','Region',
                                    '2013_Pop','2013_RX_rate','2013Deaths',
                                    '2014_Pop','2014_RX_rate','2014Deaths',
                                    '2015_Pop','2015_RX_rate','2015Deaths',
                                    '2016_Pop','2016_RX_rate','2016Deaths',
                                    '2017_Pop','2017_RX_rate','2017Deaths']])

# convert population column values to integers for downstream statistical analysis
master_df['2013_Pop'] = master_df['2013_Pop'].apply(int)
master_df['2014_Pop'] = master_df['2014_Pop'].apply(int)
master_df['2015_Pop'] = master_df['2015_Pop'].apply(int)
master_df['2016_Pop'] = master_df['2016_Pop'].apply(int)
master_df['2017_Pop'] = master_df['2017_Pop'].apply(int)
master_df.head()

,State,Region,2013_Pop,2013_RX_rate,2013Deaths,2014_Pop,2014_RX_rate,2014Deaths,2015_Pop,2015_RX_rate,2015Deaths,2016_Pop,2016_RX_rate,2016Deaths,2017_Pop,2017_RX_rate,2017Deaths
0,AL,Southeast,4827660,142.4,598,4840037,135.2,723,4850858,125.0,736,4860545,121.0,756,4874747,107.2,835
1,AK,Far West,736760,63.7,105,736759,62.7,124,737979,60.8,122,741522,58.9,128,739795,52.0,147
2,AZ,Southwest,6616124,80.4,1222,6706435,79.7,1211,6802262,75.5,1274,6908642,70.2,1382,7016270,61.2,1532
3,AR,Southeast,2956780,120.9,319,2964800,123.2,356,2975626,117.2,392,2988231,114.6,401,3004279,105.4,446
4,CA,Far West,38347383,54.4,4452,38701278,52.7,4521,39032444,47.7,4659,39296476,44.8,4654,39536653,39.5,4868

In [249]:
master_df

,State,Region,2013_Pop,2013_RX_rate,2013Deaths,2014_Pop,2014_RX_rate,2014Deaths,2015_Pop,2015_RX_rate,2015Deaths,2016_Pop,2016_RX_rate,2016Deaths,2017_Pop,2017_RX_rate,2017Deaths
0,AL,Southeast,4827660,142.4,598,4840037,135.2,723,4850858,125.0,736,4860545,121.0,756,4874747,107.2,835
1,AK,Far West,736760,63.7,105,736759,62.7,124,737979,60.8,122,741522,58.9,128,739795,52.0,147
2,AZ,Southwest,6616124,80.4,1222,6706435,79.7,1211,6802262,75.5,1274,6908642,70.2,1382,7016270,61.2,1532
3,AR,Southeast,2956780,120.9,319,2964800,123.2,356,2975626,117.2,392,2988231,114.6,401,3004279,105.4,446
4,CA,Far West,38347383,54.4,4452,38701278,52.7,4521,39032444,47.7,4659,39296476,44.8,4654,39536653,39.5,4868
5,CO,Rocky Mountain,5262556,71.2,846,5342311,69.6,899,5440445,65.1,869,5530105,59.8,942,5607154,52.9,1015
6,CT,New England,3602470,67.4,582,3600188,66.0,623,3593862,62.3,800,3587685,55.9,971,3588184,48.0,1072
7,DE,Mideast,925114,92.7,166,934805,91.0,189,944107,84.4,198,952698,79.2,282,961939,68.3,338
8,DC,Mideast,650114,41.1,102,660797,40.1,96,672736,35.7,125,684336,32.5,269,693972,28.5,310
9,FL,Southeast,19584927,73.5,2474,19897747,71.4,2634,20268567,67.1,3228,20656589,66.6,4728,20984400,60.9,5088
10,GA,Southeast,9981773,86.6,1098,10083850,83.8,1206,10199533,79.4,1302,10313620,77.8,1394,10429379,70.9,1537
11,HI,Far West,1408038,49.4,158,1417710,47.7,157,1426320,44.3,169,1428683,41.9,191,1427538,37.0,203
12,ID,Rocky Mountain,1610187,89.2,207,1630391,87.4,212,1649324,81.9,218,1680026,77.6,243,1716943,70.3,236
13,IL,Great Lakes,12890403,63.7,1579,12882438,62.3,1705,12862051,59.1,1835,12835726,56.8,2411,12802023,51.1,2778
14,IN,Great Lakes,6567484,106.3,1064,6593182,96.7,1172,6610596,89.1,1245,6634007,83.9,1526,6666818,74.2,1852
15,IA,Plains,3089876,72.2,275,3105563,72.3,264,3118473,68.6,309,3130869,64.0,314,3145711,56.4,341
16,KS,Plains,2892900,88.7,331,2899553,86.5,332,2905789,80.5,329,2907731,76.9,313,2913123,69.8,333
17,KY,Southeast,4399121,111.7,1019,4410415,110.0,1077,4422057,102.6,1273,4436113,97.2,1419,4454189,86.8,1566
18,LA,Southeast,4626795,112.4,809,4648797,108.9,777,4671211,100.4,861,4686157,98.1,996,4684333,89.5,1108
19,ME,New England,1327975,85.9,174,1328903,82.4,216,1327787,76.5,269,1330232,66.9,353,1335907,55.7,424
20,MD,Mideast,5932654,69.0,892,5970245,67.6,1070,6000561,63.0,1285,6024752,58.7,2044,6052177,51.7,2247
21,MA,New England,6711138,63.0,1081,6757925,59.6,1289,6794002,54.0,1724,6823721,47.1,2227,6859819,40.1,2168
22,MI,Great Lakes,9899219,98.9,1553,9914675,98.0,1762,9918170,90.5,1980,9933445,84.9,2347,9962311,74.2,2694
23,MN,Plains,5416074,58.3,523,5452649,56.6,517,5483238,52.1,581,5525050,46.9,672,5576606,41.0,733
24,MS,Southeast,2987721,119.6,316,2988578,116.3,336,2985297,110.9,351,2985415,105.6,352,2984100,92.9,354
25,MO,Plains,6041142,93.3,1025,6058014,90.7,1067,6072640,84.5,1066,6091176,80.4,1371,6113532,71.8,1367
26,MT,Rocky Mountain,1011921,84.2,137,1019931,80.1,125,1028317,73.3,138,1038656,69.8,119,1050493,61.1,119
27,NE,Plains,1867414,71.3,117,1880920,70.1,125,1893564,65.5,126,1907603,62.8,120,1920076,56.6,152
28,NV,Far West,2786547,91.1,614,2831730,90.1,545,2883057,85.4,619,2939254,80.7,665,2998039,73.0,676
29,NH,New England,1322622,82.0,203,1328684,79.6,334,1330134,74.8,422,1335015,64.3,481,1342795,52.8,467
30,NJ,Mideast,8913735,58.3,1294,8943010,57.2,1253,8960001,56.0,1454,8978416,52.6,2056,9005644,44.2,2685
31,NM,Southwest,2085161,71.4,458,2083207,71.5,547,2082264,69.8,501,2085432,65.1,500,2088070,56.4,493
32,NY,Mideast,19712514,46.7,2309,19773580,43.9,2300,19819347,45.1,2754,19836286,42.7,3638,19849399,37.8,3921
33,NC,Southeast,9849812,96.7,1259,9941160,93.7,1358,10041769,88.4,1567,10156689,82.5,1956,10273419,72.0,2414
34,ND,Plains,722908,60.1,20,738658,58.1,43,754859,53.0,61,755548,47.8,77,755393,41.5,68
35,OH,Great Lakes,11567845,93.1,2347,11593741,89.5,2744,11606027,82.7,3310,11622554,75.3,4329,11658609,63.5,5111
36,OK,Southwest,3849840,123.3,790,3875008,110.9,777,3904353,104.4,725,3921207,97.9,813,3930864,88.1,775
37,OR,Far West,3919664,94.2,455,3960673,91.9,522,4016537,84.2,505,4085989,76.3,506,4142776,66.1,530
38,PA,Mideast,12778450,81.6,2426,12790341,79.9,2732,12791124,75.5,3264,12787085,69.5,4627,12805537,57.7,5388
39,RI,New England,1052784,76.9,241,1054782,72.8,247,1055916,65.7,310,1057566,60.3,326,1059639,51.2,320
40,SC,Southeast,4765862,103.0,620,4824758,101.3,701,4892423,95.1,761,4959822,89.4,879,5024369,79.3,1008
41,SD,Plains,842513,60.6,55,849455,61.7,63,854036,59.1,65,861542,54.8,69,869666,49.0,73
42,TN,Southeast,6490795,127.1,1187,6540007,121.3,1269,6590726,114.9,1457,6649404,107.5,1630,6715984,94.4,1776
43,TX,Southwest,26479279,70.0,2446,26954436,67.0,2601,27454880,59.8,2588,27904862,57.6,2831,28304596,53.1,2989
44,UT,Rocky Mountain,2899961,82.1,594,2938671,78.8,603,2984917,74.4,646,3044321,70.4,635,3101833,63.8,650
45,VT,New England,626044,52.2,93,625665,50.4,83,624455,60.1,99,623354,58.6,125,623657,50.5,134
46,VA,Southeast,8261689,76.6,854,8316902,73.5,980,8366767,68.1,1039,8414380,63.4,1405,8470020,52.9,1507
47,WA,Far West,6963410,75.2,969,7046931,74.2,979,7152818,69.8,1094,7280934,64.9,1102,7405743,57.2,1169
48,WV,Southeast,1852333,129.0,570,1847624,126.4,627,1839767,111.3,725,1828637,96.0,884,1815857,81.3,974
49,WI,Great Lakes,5736673,73.8,856,5751272,71.9,853,5759744,67.5,878,5772917,62.2,1074,5795483,52.6,1177
50,WY,Rocky Mountain,582341,81.5,98,583334,80.9,109,586102,75.4,96,584910,71.1,99,579315,64.8,69

In [224]:
# subset master dataframe into regional data frames by economic region
southeast = master_df[master_df.Region == 'Southeast'].reset_index(drop=True)
southwest = master_df[master_df.Region == 'Southwest'].reset_index(drop=True)
farwest = master_df[master_df.Region == 'Far West'].reset_index(drop=True)
rockmount = master_df[master_df.Region == 'Rocky Mountain'].reset_index(drop=True)
plains = master_df[master_df.Region == 'Plains'].reset_index(drop=True)
greatlakes = master_df[master_df.Region == 'Great Lakes'].reset_index(drop=True)
mideast = master_df[master_df.Region == 'Mideast'].reset_index(drop=True)
newengland = master_df[master_df.Region == 'New England'].reset_index(drop=True)



newengland

,State,Region,2013_Pop,2013_RX_rate,2013Deaths,2014_Pop,2014_RX_rate,2014Deaths,2015_Pop,2015_RX_rate,2015Deaths,2016_Pop,2016_RX_rate,2016Deaths,2017_Pop,2017_RX_rate,2017Deaths
0,CT,New England,3602470,67.4,582,3600188,66.0,623,3593862,62.3,800,3587685,55.9,971,3588184,48.0,1072
1,ME,New England,1327975,85.9,174,1328903,82.4,216,1327787,76.5,269,1330232,66.9,353,1335907,55.7,424
2,MA,New England,6711138,63.0,1081,6757925,59.6,1289,6794002,54.0,1724,6823721,47.1,2227,6859819,40.1,2168
3,NH,New England,1322622,82.0,203,1328684,79.6,334,1330134,74.8,422,1335015,64.3,481,1342795,52.8,467
4,RI,New England,1052784,76.9,241,1054782,72.8,247,1055916,65.7,310,1057566,60.3,326,1059639,51.2,320
5,VT,New England,626044,52.2,93,625665,50.4,83,624455,60.1,99,623354,58.6,125,623657,50.5,134

In [276]:
# create descriptive stats summary table

master_range_max = master_df.max()
master_range_min = master_df.min()
master_mean = master_df.mean()#.apply(int)
master_stdev = master_df.std()
master_var = master_df.var()
master_count = master_df.count()
master_sum = master_df.sum()
master_df.describe()
master_sum_stats_df = pd.DataFrame(master_df.describe())
master_sum_stats_df

,2013_Pop,2013_RX_rate,2013Deaths,2014_Pop,2014_RX_rate,2014Deaths,2015_Pop,2015_RX_rate,2015Deaths,2016_Pop,2016_RX_rate,2016Deaths,2017_Pop,2017_RX_rate,2017Deaths
count,5.100000e+01,51.000000,51.000000,5.100000e+01,51.000000,51.000000,5.100000e+01,51.000000,51.000000,5.100000e+01,51.000000,51.000000,5.100000e+01,51.000000,51.000000
mean,6.200677e+06,83.096078,862.392157,6.247500e+06,80.688235,922.647059,6.294899e+06,75.637255,1027.529412,6.341293e+06,70.817647,1247.686275,6.386651e+06,62.317647,1377.196078
std,7.042373e+06,23.008581,849.536958,7.116417e+06,22.037792,896.972838,7.191254e+06,20.112195,1004.340646,7.257151e+06,19.373649,1267.197672,7.316763e+06,17.648237,1419.685472
min,5.823410e+05,41.100000,20.000000,5.833340e+05,40.100000,43.000000,5.861020e+05,35.700000,61.000000,5.849100e+05,32.500000,69.000000,5.793150e+05,28.500000,68.000000
25%,1.731260e+06,68.200000,224.000000,1.739008e+06,66.500000,255.500000,1.744546e+06,61.550000,309.500000,1.754332e+06,58.650000,320.000000,1.766400e+06,51.450000,339.500000
50%,4.399121e+06,81.500000,614.000000,4.410415e+06,79.600000,701.000000,4.422057e+06,74.400000,736.000000,4.436113e+06,66.900000,879.000000,4.454189e+06,57.700000,974.000000
75%,6.837274e+06,93.750000,1089.500000,6.902428e+06,91.450000,1208.500000,6.977540e+06,84.950000,1293.500000,7.094788e+06,80.550000,1578.000000,7.211006e+06,71.900000,1814.000000
max,3.834738e+07,142.400000,4452.000000,3.870128e+07,135.200000,4521.000000,3.903244e+07,125.000000,4659.000000,3.929648e+07,121.000000,4728.000000,3.953665e+07,107.200000,5388.000000