In [2]:
# import dependencies
%matplotlib notebook
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt

In [3]:
# import source data files

# deaths_2013_2014 = pd.read_csv("raw_data/OD_2013_2014.csv")

deaths_2013_2014 = pd.read_csv("raw_data/OD_2013_2014.csv")
deaths_2015 = pd.read_csv("raw_data/OD_2015.csv")
deaths_2016 = pd.read_csv("raw_data/OD_2016.csv")
deaths_2017 = pd.read_csv("raw_data/OD_2017.csv")

# import population data
population2010_2017 = pd.read_csv("raw_data/Pop_2013-2017.csv")

# import perscription data
rx_2013 = pd.read_csv("raw_data/RX_2013.csv")
rx_2014 = pd.read_csv("raw_data/RX_2014.csv")
rx_2015 = pd.read_csv("raw_data/RX_2015.csv")
rx_2016 = pd.read_csv("raw_data/RX_2016.csv")
rx_2017 = pd.read_csv("raw_data/RX_2017.csv")

In [17]:
# change rx_2016 and rx_2017 columns to match that of previous years' column names
rx_2016 = rx_2016.drop([0], axis=0).reset_index(drop=True)

# preview rx and populations by state
# print(rx_2013.head())
# print(rx_2014.head())
# print(rx_2015.head())
print(rx_2016.head())
# print(rx_2017.head())
# print(population2010_2017.head())

   level_0  index                 State State ABBR  2016 Prescribing Rate
0        3      7           Connecticut         CT                   48.0
1        4      8              Delaware         DE                   68.3
2        5      9  District of Columbia         DC                   28.5
3        6     10               Florida         FL                   60.9
4        7     11               Georgia         GA                   70.9

In [5]:
# preview deaths by state 
print(deaths_2013_2014.head())
print(deaths_2015.head())
print(deaths_2016.head())
print(deaths_2017.head())

  State  2014Rate 2014Number    2014Range  2013Rate 2013Number    2013Range  \
0    ND       6.3         43  6.3 to 11.0       2.8         20  2.8 to 11.0
1    NE       7.2        125  6.3 to 11.0       6.5        117  2.8 to 11.0
2    SD       7.8         63  6.3 to 11.0       6.9         55  2.8 to 11.0
3    IA       8.8        264  6.3 to 11.0       9.3        275  2.8 to 11.0
4    TX       9.7      2,601  6.3 to 11.0       9.3      2,446  2.8 to 11.0

   Change      Significant
0   125.0     Significant
1    10.8  Not Significant
2    13.0  Not Significant
3    -5.4  Not Significant
4     4.3  Not Significant
  State         Range  Rate Number
0    AL  13.6 to 16.0  15.7    736
1    AK  13.6 to 16.0  16.0    122
2    AZ  18.6 to 21.0  19.0  1,274
3    AR  13.6 to 16.0  13.8    392
4    CA  11.1 to 13.5  11.3  4,659
  State         range  rate number
0    AL  16.1 to 18.5  16.2    756
1    AK  16.1 to 18.5  16.8    128
2    AZ  18.6 to 21.0  20.3  1,382
3    AR  13.6 to 16.0  14.0    401
4    CA  11.1 to 13.5  11.2  4,654
  State         range  rate number
0    AL  16.1 to 18.5  18.0    835
1    AK  18.6 to 21.0  20.2    147
2    AZ  21.1 to 57.0  22.2  1,532
3    AR  13.6 to 16.0  15.5    446
4    CA  11.1 to 13.5  11.7  4,868

In [6]:
# merge rx dataframes
rx_df = rx_2013.merge(rx_2014).merge(rx_2015).merge(rx_2016).merge(rx_2017)

,State,Region,2014Rate,2014Number,2014Range,2013Rate,2013Number,2013Range,Change,Significant,Range,Rate,Number
0,AK,Far West,16.8,124,16.1 to 18.5,14.4,105,13.6 to 16.0,16.7,Not Significant,13.6 to 16.0,16.0,122
1,AL,Southeast,15.2,723,13.6 to 16.0,12.7,598,11.1 to 13.5,19.7,Significant,13.6 to 16.0,15.7,736
2,AR,Southeast,12.6,356,11.1 to 13.5,11.1,319,11.1 to 13.5,13.5,Not Significant,13.6 to 16.0,13.8,392
3,AZ,Southwest,18.2,"1,211",16.1 to 18.5,18.7,"1,222",18.6 to 21.0,-2.7,Not Significant,18.6 to 21.0,19.0,"1,274"
4,CA,Far West,11.1,"4,521",11.1 to 13.5,11.1,"4,452",11.1 to 13.5,0.0,Not Significant,11.1 to 13.5,11.3,"4,659"